body {  
    font-family: Arial, sans-serif; 
     
    margin: 1%;  
    padding: 90%;  
    font-style: normal;
    font-size: medium;
    align-items: start;
    word-wrap: break-word , normal;

  }  
    
  header {  
    position: relative;  
    height: 7%;  
    background-color: #fff; /* 或者您想要的任何颜色 */ 
    align-items: center; 
  }  

  blockquote{
    background-color: aquamarine;
    margin-left: 10%; /* 或者你想要的任何值 */  
    text-indent: -10%; /* 与左边距相同的负值，用于将文本内容本身也缩进 */  
    font-style: italic;
  }
    
  .logo-container {  
    width: 10%;  
    height: 10%;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
  }  
    
  .logo {  
    height: min-content;
    width: min-content;
    max-height: auto;  
    max-width: auto; /* 根据需要调整logo的大小 */  
    background-color: rgb(221, 226, 192);
  }  
    
  .gradient-background {  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));  
    z-index: -1;  
  }  
    
  main {  
    display: flex;  
  }  
    
  .sidebar {  
    flex: 1;  
    background-color: #f8f8f8;  
    padding: 20px;  
  }  
    
  .content {  
    flex: 3;  
    padding: 20px;  
  }  
    
  /* 根据需要添加更多样式 */