body {  
    font-family: Arial, sans-serif;  
    margin: 3rem;  
    padding: 90%;  
    font-style: normal;
    font-size: medium;
    page: 2;
    
  }  
    
  header {  
    position: relative;  
    height: 7%;  
    background-color: #fff; /* 或者您想要的任何颜色 */  
  }  
    
  .logo-container {  
    width: 100%;  
    height: 100%;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
  }  
    
  .logo {  
    max-height: 100%;  
    max-width: 20px; /* 根据需要调整logo的大小 */  
  }  
    
  .gradient-background {  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));  
    z-index: -1;  
  }  
    
  main {  
    display: flex;  
  }  
    
  .sidebar {  
    flex: 1;  
    background-color: #f8f8f8;  
    padding: 20px;  
  }  
    
  .content {  
    flex: 3;  
    padding: 20px;  
  }  
    
  /* 根据需要添加更多样式 */